section{
    width: 100%;
    height: auto;
    justify-content: center;

    padding: 10px;
}

.error-message{
    color: red;
}

.product-banner{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
    height: auto;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
}

.image-container{
    width: 400px;
    height: 400px;
    padding: 10px;
    border: #5b13b9 1px solid;
    border-radius: 5px  ;
}

.image{
    width: 100%;
    height: 100%;
}

.details-container{
    /*border: #0c0c0c 1px solid;*/
    width: 45%;
    padding: 10px;
}

.details-container>div{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.details-container>div>span{
    color: #5b13b9;
}

.description-span{
    font-weight: normal;
}

.details-container>.price-container{
    padding: 10px;
    color: red;
    font-size: 150%;
    margin-bottom: 20px;
}

.button-container{
    padding: 10px;
}

.button-container>a{
    text-decoration: none;
}

.button-container>a>button{
    padding: 10px;
    width: 30%;
}


/*Comments section css*/
.comments-container {
    padding: 10px;
    max-width: 100%;
    margin: 20px auto;
    height: 350px;
    overflow-y: auto;
}

.comment-section-title{
    font-size: 150%;
    font-weight: bold;
}

/* Example CSS for styling comments */
.comment {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.replies {
    margin-left: 20px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.comment-user{
    font-weight: bold;
    font-size: 130%;
    color: #007bff;
}



/*Comment form*/
.comment-form {
    max-width: 600px;
    margin: 20px auto;
}

.comment-form form {
    display: flex;
    flex-direction: column;
}

.comment-form label {
    margin-top: 10px;
}

.comment-form textarea {
    margin-bottom: 10px;
}

.utilities>span{
    cursor: pointer;
    font-size: 90%;
    color: #e72fd0;
    text-decoration: underline;
}

.comment-section-title{
    font-size: 150%;
    font-weight: bold;
}
