body{
    overflow: hidden;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.product-banner{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 50vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
}
