.side-bar{
    width: 250px;
    height: 100vh;
    background: #1a202c;
}
.category-heading-place{
    text-align: center;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 2px;
}

.categories-nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
